sphinx
lxml
furo
wavedrom
sphinx-design
sphinxcontrib-wavedrom
sphinxcontrib-mermaid
sphinxcontrib-svg2pdfconverter
https://github.com/hdl/pyhdlparser/tarball/master
https://github.com/hdl/symbolator/tarball/master
